<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="errors" xsi:type="File"
              layout="${level} [${longdate}]${newline}Info: ${message}${newline}Exception Message: ${exception:format=Message}${newline}Exception Type: ${exception:format=Type}${newline}Stack Trace: ${exception:format=StackTrace}${newline}"
              fileName="${basedir}/Logs/Error.log"
              archiveFileName="${basedir}/logs/Old/Error.{#}.log"
              archiveEvery="Day"
              archiveNumbering="Rolling"
              maxArchiveFiles="7"
              concurrentWrites="true" />
      <target name="all"
              xsi:type="File"
              layout="${longdate} | ${level} | ${message} | ${exception:format=Message}"
              fileName="${basedir}/Logs/Main.log"
              archiveFileName="${basedir}/Logs/Old/Main.{#}.log"
              archiveEvery="Day"
              archiveNumbering="Rolling"
              maxArchiveFiles="7"
              concurrentWrites="true" />
    </targets>
    <rules>
      <logger name="*" levels="Fatal,Error" writeTo="errors" />
      <logger name="*" levels="Warn,Info,Trace,Debug" writeTo="all" />
    </rules>
  </nlog>
</configuration>